/* Reset and utility class setup */

:root {
    --white: #FAF2E7;
    --black: #000000;
    --gutter-width: 1vw;
    --column: 15;
    --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
    --column-width: calc(calc(100vw - (var(--gutter-width) * 16)) / var(--column));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-size: calc(100vw / 1920 * 20);
}

html,
body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    position: relative;
    font-family: 'Switzer', sans-serif;
}

h1, h2, p, a {
    letter-spacing: -0.6vw;
}

a {
    text-decoration: none;
    color: var(--black);
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);    
    line-height: 1;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    list-style: none;
    line-height: .8;
}


/* Grid layout overlay */

.overlay {
    opacity: 0;
    position: fixed;
    inset: 0 var(--gutter-width);
    background-image: 
        repeating-linear-gradient(
            to right,
            #D2D6F9,
            #D2D6F9 calc((100% / var(--column)) - var(--gutter-width)),
            transparent calc((100% / var(--column)) - var(--gutter-width)),
            transparent calc(100% / var(--column))
        );
    background-position: left top;
    background-size: calc(100% + var(--gutter-width)) 100%;
    z-index: -1;  /* Change to a positive value to see overlay. */
    transition: opacity 0.3s ease;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: var(--gutter-width);
    background-color: #8b484879;
}

.overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: var(--gutter-width);
    background-color: #8b484879;
}

.overlay.active {
    opacity: 1;
}


/* Page styling */
.wrapper {
    width: 100%;
    height: 100%;
}

/* Responsive design */
@media (max-width: 750px) {
    :root {
        --column: 6;
    }
}